.container
{
background-color:#c0c0c0;
width:100%;
margin: 0;
padding: 15px;
}
.h2
{
    color:#adff2f;
}
.education h2
{
color:#ffffff;
    
}
.education  span
{
color:red;
}
.jobeperience h2
{
color:#ffffff;
    
}
h2{
    color:#ffffff;
}
categories
{
padding: 0;
margin: 0;
list-style-type: none;
text-decoration: none;
}

.CATEGORIES a
{
    color:red;

}
.CATEGORIES  li
{
display: inline-block;
}
.footer
{
    color:#ffffff;
    background-color: #000000;
    padding-top: 20px;
}
